# My First Time with Python

In [1]:
print ('Hello World')

Hello World

#My Code

# My Code

x='Eat'
Print(x)

In [2]:
x= 'Eat'
print(x)

Eat

In [3]:
x='Eat23'
print(x)

Eat23

# Learning types of variables

In [4]:
type(x)

str

In [2]:
type(1)

int

In [3]:
type (0.01)

float

In [5]:
type('a1')

str

# Assigning Variables

In [5]:
x,y,z='Eat', 'Action', 'Sleep'
print(x,y,z)

Eat Action Sleep

In [6]:
x="hut"
print(x)

hut

In [7]:
xyz='Eat, Action, Sleep'
print(xyz)

Eat, Action, Sleep

In [8]:
xyz='i am going to eat'
print(xyz)

i am going to eat

# Creating Lists

In [6]:
food=['Rice','Yam', 'Mangoes']
x,y,z=food
print(x)
print(y)
print(z)

p=24

print(p, z)

Rice
Yam
Mangoes
24 Mangoes

In [10]:
print(p, z)

24 Mangoes

In [11]:
j=10
print(2+2j)

(2+2j)

In [12]:
print(j)

10

# Difference between tuple and lists

In [13]:
foods=('yam','kiwi','mya')

In [14]:
type(foods)

tuple

In [15]:
gogle=['hini','maha', 'gna']

In [16]:
type(gogle)

list

In [17]:
gogle.append('jack')

In [18]:
print(gogle)

['hini', 'maha', 'gna', 'jack']

In [19]:
gogle

['hini', 'maha', 'gna', 'jack']

# Creating Libraries

In [20]:
leisure_jobs={'job':'Cleaning', 'food':'Yam', 'house':'apata'}

In [21]:
leisure_jobs

{'job': 'Cleaning', 'food': 'Yam', 'house': 'apata'}

In [22]:
leisure_jobs['job']='Eating'

In [23]:
leisure_jobs

{'job': 'Eating', 'food': 'Yam', 'house': 'apata'}

In [24]:
leisure_jobs.items()

dict_items([('job', 'Eating'), ('food', 'Yam'), ('house', 'apata')])

In [25]:
leisure_jobs.keys()

dict_keys(['job', 'food', 'house'])

In [26]:
leisure_jobs.update({'job': 'Cleaning', 'food': 'Yam', 'house': 'apata', 'weight':'20pounds'})

In [27]:
leisure_jobs.update({'number':2345})

In [28]:
leisure_jobs

{'job': 'Cleaning',
 'food': 'Yam',
 'house': 'apata',
 'weight': '20pounds',
 'number': 2345}

In [29]:
leisure_jobs['number']

2345

leisure_jobs.keys()

In [30]:
leisure_jobs.keys()

dict_keys(['job', 'food', 'house', 'weight', 'number'])

In [31]:
leisure_jobs.values

In [32]:
leisure_jobs.values()

dict_values(['Cleaning', 'Yam', 'apata', '20pounds', 2345])

In [7]:
print('mustknow'|'getto')

TypeError: unsupported operand type(s) for |: 'str' and 'str'

In [ ]:
mustknow={1,3,4,5,3,5,7,9,10,34}
getto={2,4,5,10,34,5}
hamile={2,3,5,1,2,7,8}

In [ ]:
combine=mustknow & getto
combine

In [ ]:
mustknow|getto

In [ ]:
print(mustknow)

In [ ]:
1,2,3 in mustknow

In [ ]:
print(mustknow)
print(getto)
print(hamile)

mustknow^getto

In [ ]:
mustknow&getto&hamile

In [ ]:
print(mustknow)
print(getto)
print(hamile)

how=mustknow.union(getto)
how

In [ ]:
1,2,3 in mustknow

In [ ]:
(1 or 2 or 3) in mustknow

In [ ]:
food=['ginger', 'mushroom', 'plantain']
fast=['morning', 'afternoon', 'evening']

together=fast + food
print(together)

# Learning If statement

In [ ]:
if 2 in hamile:
    print('present')
#food.append('yam')
#del(food)
food=['yam', 'rice', 'cassava']
food.remove('cassava')
food.append('cassava')
del food[2]
food

In [ ]:
if hamile in mustknow:
    print('Together')
if hamile!=hamile:
    print('As one')
elif 'yam' not in food and leisure_jobs.keys():
        print('Aha!')
elif (2,3,6) in mustknow:
    print('found')
elif (1,2,34) in getto:
    print('gotcha')
else:
    print('Not found')

In [ ]:
'food' in leisure_jobs.keys()

In [ ]:
food.remove('plantain')
food

In [ ]:
Clothes= {'Up': 'addidas', 'down': 'Khaki', 'boxer':'puma', 'socks':'nike'}
Clothes

In [ ]:
(Clothes.keys())
Clothes.values()
Clothes.update({'shoe':'local'})
print(Clothes)

In [ ]:
Clothes== Clothes

In [ ]:
if 'Sandals' in Clothes.values():
    print('Found')
elif 'Kaba' in Clothes.values():
    print('kaba')
else: 
    Clothes.update({'sandals':'Bawa'})
    
    print(Clothes)

In [ ]:
del.food

In [ ]:
gogo=[1,2,2,3]
del gogo
gogo

In [ ]:
print(food)

In [ ]:
Clothes

In [ ]:
burger=['ham','cheese','toritoes']
burger

# Learning For Loop

In [ ]:
for shirts, one in Clothes.items():
    for eat in burger:
        print('1', shirts, one,eat)

In [ ]:
burger

In [ ]:
burger=['ham', 'cheese', 'toritoes']

for item in burger:
    print(item,'good')

In [ ]:
burger=['ham', 'cheese', 'toritoes']
number=0

while 'ham' in burger and number <9:
    number=number+1
    if number==2:
        break
    print(number, burger)

In [ ]:
number=0
for ham in burger:
    number=number +1
    print(number,burger[0],number +1, burger[1])
    print(number +2, burger[2])
    break

In [ ]:
print(burger)

# Learning Functions

In [ ]:
def square_root (number,power):
    print(number**power)

In [ ]:
square_root(number=9,power=2)

In [ ]:
print(9/2)

In [39]:
yoga=(1,2,3,4,5,6)
def hum(*uni):
    print(uni[1]*uni[4])

In [41]:
hum(*yoga)
type(yoga)

10

tuple

In [ ]:
type(list(yoga))
type(yoga)
type(Newyoga)

In [ ]:
Newyoga=(list(yoga))
type(Newyoga)

In [3]:
know=('Park University', 'University of Tulsa')
def school(name, not_name,sname): 
    print('The name of my school is the' + ' ' + name + ' ' +'not', not_name+' '+ 'because I had a scholarship at',sname)

In [5]:
school(name=know[1], not_name=know[0],sname=know[1])

The name of my school is the University of Tulsa not Park University because I had a scholarship at University of Tulsa

In [ ]:
types=['ampesi','cocoa','rice','suya']

In [37]:
def food(**varieties):
    print('I love to eat', varieties['food'], varieties['food1'] + ' and ' + varieties['food2'])

In [38]:
food(food='Yam', food1='kenkey', food2='rice')

I love to eat Yam kenkey and rice

In [41]:
def school(**uni):
    print('I prefer to attend', uni['sch'] + ' not ' + uni['sch1'] + ' because I got a scholarship at', uni['sch'])

In [43]:
school(sch='the University of Tulsa', sch1='Park University')

I prefer to attend the University of Tulsa not Park University because I got a scholarship at the University of Tulsa